body{
    background-color:#930913;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper{
    display: flex;
    position: absolute;
    width: calc(100% - 25px);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25px;
    height:440px;
    justify-content: space-between;
    align-items: center;
}

.character{
    display:block;
    height:440px;
}

.monitor{
    padding-right: 25px;
    line-height:25px;
}

.monitor > div, .charts > div:first-of-type{
    width:100%;
    height:auto;
    overflow: auto;
    margin-bottom:25px;
}

.monitor > div:last-of-type{
    color:#fff;
    margin-top:-15px;
    margin-bottom:0;
    overflow:hidden;
    font-size: 12px;
    line-height: 14px;
}

.charts{
    min-width: 285px!important;
    margin: 0 auto 25px auto;
}

.charts > div > .chart:first-of-type{
    margin-right:25px;
}

.chart{
    position: relative;
    width:100px;
    height:100px;
    display: block;
    float:left;
    border-radius: 50%;
    border: 15px solid transparent;
    background: linear-gradient(#930913,#930913) padding-box,
                linear-gradient(35deg, #1a1a1a 50%,transparent 0) border-box,
                linear-gradient(to right, rgba(26,26,26, .4) 50%,#1a1a1a 0) border-box;
}

.chart span{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:24px;
    color:#fff;
}

.bar{
    width:100%;
    height:25px;
    background:#1a1a1a;
}

.bar:first-of-type{
    margin-bottom:15px;
}

.bar > div{
    height:25px;
    background: linear-gradient(to right, #f85032, #e73827);
    width:75%;
}

.bar > div > span{
    color:#1a1a1a;
    font-size:14px;
    padding-left:5px;
}